In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import f1_score, precision_score, recall_score, accuracy_score
from sklearn.linear_model import Perceptron
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.svm import SVC
import joblib

In [3]:
data = pd.read_csv("Crop_recommendation.csv")

In [4]:
data.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2200 entries, 0 to 2199
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            2200 non-null   int64
 1   P            2200 non-null   int64
 2   K            2200 non-null   int64
 3   temperature  2200 non-null   float64
 4   humidity     2200 non-null   float64
 5   ph           2200 non-null   float64
 6   rainfall     2200 non-null   float64
 7   label        2200 non-null   object
dtypes: float64(4), int64(3), object(1)
memory usage: 137.6+ KB

In [7]:
print(data.isna().sum())

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
label          0
dtype: int64

In [10]:
for i in range(8):
    print(data.iloc[:, i].unique())

[ 90  85  60  74  78  69  94  89  68  91  93  77  88  76  67  83  98  66
  97  84  73  92  95  99  63  62  64  82  79  65  75  71  72  70  86  61
  81  80 100  87  96  40  23  39  22  36  32  58  59  42  28  43  27  50
  25  31  26  54  57  49  46  38  35  52  44  24  29  20  56  37  51  41
  34  30  33  47  53  45  48  13   2  17  12   6  10  19  11  18  21  16
   9   1   7   8   0   3   4   5  14  15  55 105 108 118 101 106 109 117
 114 110 112 111 102 116 119 107 104 103 120 113 115 133 136 126 121 129
 122 140 131 135 123 125 139 132 127 130 134]
[ 42  58  55  35  37  53  54  46  56  50  48  38  45  40  59  41  47  49
  51  57  39  43  44  60  52  36  72  67  73  70  62  74  66  63  71  78
  80  68  65  77  76  79  61  64  69  75  24  18  26  27  25  21  30  11
   5  10   7  20  22  15  23   8  16  29  17   6  19  13   9  14  28  94
  95  92  89  88  87  85  86  83  91  81  84  90  82  93  33  31  34  32
 130 144 123 125 131 140 122 134 145 139 141 138 136 132 133 121 126 120
 142 135 129 128 137 127 124 143  12]
[ 43  41  44  40  42  38  36  37  39  35  45  16  17  21  20  19  25  22
  15  18  23  24  77  84  85  81  75  79  76  83  78  80  82  46  50  53
  54  49  55  52  47  48  51  27  31  32  34  33  30  28  29  26 195 204
 205 196 198 197 203 201 202 199 200  12  13   6   9  10  14   8   7   5
  11]
[20.87974371 21.77046169 23.00445915 ... 24.13179691 26.2724184
 23.60301571]
[82.00274423 80.31964408 82.3207629  ... 67.22512329 52.12739421
 60.39647474]
[6.50298529 7.03809636 7.84020714 ... 6.36260785 6.75879255 6.77983261]
[202.9355362 226.6555374 263.9642476 ... 173.3228386 127.1752928
 140.9370415]
['rice' 'maize' 'chickpea' 'kidneybeans' 'pigeonpeas' 'mothbeans'
 'mungbean' 'blackgram' 'lentil' 'pomegranate' 'banana' 'mango' 'grapes'
 'watermelon' 'muskmelon' 'apple' 'orange' 'papaya' 'coconut' 'cotton'
 'jute' 'coffee']

In [11]:
data

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [12]:
print(data.dtypes)

N                int64
P                int64
K                int64
temperature    float64
humidity       float64
ph             float64
rainfall       float64
label           object
dtype: object

In [14]:
target = data['label']
data = data.drop(columns=['label'])
print(target.shape,data.shape)

(2200,) (2200, 7)

In [15]:
x_train,x_test,y_train,y_test = train_test_split(data,target,test_size = 0.2)
print(x_train.shape,x_test.shape,y_train.shape,y_test.shape)

(1760, 7) (440, 7) (1760,) (440,)

In [16]:
model_performance = pd.DataFrame(columns=['Accuracy','Recall','Precision','F1-Score'])

In [17]:
model1 = LogisticRegression().fit(x_train,y_train)
pred_train = model1.predict(x_train)
pred_test = model1.predict(x_test)
print("Accuracy for Training "+ "{:.2%}".format(accuracy_score(y_train,pred_train)))
print("Accuracy for Testing "+ "{:.2%}".format(accuracy_score(y_test,pred_test)))
print("Recall for Training "+ "{:.2%}".format(recall_score(y_train, pred_train, average='weighted')))
print("Recall for Testing "+ "{:.2%}".format(recall_score(y_test, pred_test, average='weighted')))
print("Precision Score for Training "+ "{:.2%}".format(precision_score(y_train, pred_train, average='weighted')))
print("Precision Score for Testing "+ "{:.2%}".format(precision_score(y_test, pred_test, average='weighted')))
print("F1-Score for Training "+ "{:.2%}".format(f1_score(y_train, pred_train, average='weighted')))
print("F1-Score for Testing "+ "{:.2%}".format(f1_score(y_test, pred_test, average='weighted')))
model_performance.loc['Logistic'] = [accuracy_score(y_test,pred_test),recall_score(y_test, pred_test, average='weighted'),precision_score(y_test, pred_test, average='weighted'), f1_score(y_test, pred_test, average='weighted')]

Accuracy for Training 96.82%
Accuracy for Testing 97.05%
Recall for Training 96.82%
Recall for Testing 97.05%
Precision Score for Training 96.84%
Precision Score for Testing 97.19%
F1-Score for Training 96.81%
F1-Score for Testing 97.05%

C:\Users\91700\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [19]:
import pickle
with open('crop_recommendation.pkl', 'wb') as f:
    pickle.dump(model1, f)